<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="main">
        <div class="title">
            <h1 class="title-text">Connect Your Home.</h1>
            <p>connect and control your appliances. Everything at your finger-tips</p>
        </div>
        <div class="appli-cards">
            <div class="card">
                <h4 class="card-title">Fan</h4>
                <p class="card-desc">control your living room fan</p>

                <div class="card-img">

                </div>

                <div class="card-actions">
                    <span class="action-title">Set your fan speed</span>
                    <input type="text" class="fan-input">
                </div>

            </div>
            <div class="card">
                <h4 class="card-title">Fan</h4>
                <p class="card-desc">control your living room fan</p>

                <div class="card-img">

                </div>

                <div class="card-actions">
                    <span class="action-title">Set your fan speed</span>
                    <input type="text" class="fan-input">
                </div>

            </div>
            <div class="card">
                <h4 class="card-title">Fan</h4>
                <p class="card-desc">control your living room fan</p>

                <div class="card-img">

                </div>

                <div class="card-actions">
                    <span class="action-title">Set your fan speed</span>
                    <input type="text" class="fan-input">
                </div>

            </div>
            <div class="card">
                <h4 class="card-title">Fan</h4>
                <p class="card-desc">control your living room fan</p>

                <div class="card-img">

                </div>

                <div class="card-actions">
                    <span class="action-title">Set your fan speed</span>
                    <input type="text" class="fan-input">
                </div>

            </div>
        </div>
    </div>
</body>
</html>