<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="main">
        <div class="title">
            <h1 class="title-text">Connect Your Home.</h1>
            <p>connect and control your appliances. Everything at your finger-tips</p>
        </div>
        <div class="appli-cards">
            <div class="card">
                <h4 class="card-title">Fan</h4>
                <p class="card-desc">control your living room fan</p>

                <div class="card-img">
                    <img src="./static-images/fan.png" alt="fan">
                </div>

                <div class="card-actions">
                    <span class="action-title">Set your fan speed</span>
                    <select name="fan-speed" id="fan-speed" class="fan-speed">
                        <option value="0">off</option>
                        <option value="1">speed - 1</option>
                        <option value="2">speed - 2</option>
                        <option value="3">speed - 3</option>
                        <option value="4">speed - 4</option>
                    </select>
                </div>

            </div>
            <div class="card">
                <h4 class="card-title">AC</h4>
                <p class="card-desc">control your living room AC</p>
                
                <div class="card-img">
                    <img src="./static-images/AC.png" alt="fan">
                </div>

                <div class="card-actions">
                    <button class="on">ON</button>
                    <button class="off">OFF</button>

                    <span class="action-title">Set your ac temp.</span>
                    <input type="text" class="fan-input">
                </div>

            </div>
            <div class="card">
                <h4 class="card-title">Bulb</h4>
                <p class="card-desc">control your living room bulb</p>

                <div class="card-img">
                    <img src="./static-images/bulb.png" alt="fan">
                </div>

                <div class="card-actions">
                    <span class="action-title">Set your bulb on/off</span>
                    <button class="on">ON</button>
                    <button class="off">OFF</button>
                </div>

            </div>
            <div class="card">
                <h4 class="card-title">LED</h4>
                <p class="card-desc">control your living room LED</p>

                <div class="card-img">
                    <img src="./static-images/LED.png" alt="fan">
                </div>

                <div class="card-actions">
                    <span class="action-title">Set your led color</span>
                    <input type="color" class="led-input" value="#00000">
                </div>

            </div>
        </div>
    </div>
</body>
</html>