<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./landing.css">
    <title>EncryptedSkulk</title>
</head>
<body class="main">
    <p> KONNECT HOME</p><span class="fancy">BY ENCRYPTED SKULK</span></p>
    <a href="/home">
        <button class='glowing-btn'>
            <span class='glowing-txt'>C<span class='faulty-letter'>O</span>NNECT</span>
        </button>
    </a>
    
</body>
</html>